{% load static %}
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,500;1,600&family=Heebo:wght@300&family=Inconsolata:wght@500&family=Lobster&family=Merienda+One&family=Permanent+Marker&family=Quicksand:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito:ital@1&family=Oleo+Script:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito:ital@1&family=Oleo+Script:wght@700&family=Shrikhand&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css'%}">

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index: 2;">
    <a class="navbar-brand" href="{%url 'home'%}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      
        <li class="nav-item">
            <a class="nav-link" href="{% url 'products:main' %}">Product</a>
        </li>

        
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'products:like_list' %}">Like List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_change_password' %}">Change PW</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
            </li>
          {% endif %}
       
      
      </ul>
    </div>
  </nav>