{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'shared/navbar.html' %}
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Thasadith:ital@1&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Epilogue:wght@300&display=swap" rel="stylesheet">

<div class="center">
    <h1>Daily</h1><br>
    {% if user.is_superuser %}
    <div class="right">
        <a href="{% url 'products:new' %}" class="btn btn-primary">상품 추가</a>
    </div>
    {% endif %}
    <div class="card_center">
        {% for product in products %}
        <div class="card" style="width: 22rem;">
            <a href="{% url 'products:show' product.pk %}" style="text-decoration: none; text-decoration-color: none;">
            {% if product.image %}
            <img src="{{product.image.url}}" class="card-img-top" alt="사진" width="100px" height="500px" style="object-fit: cover;">
            {% endif %}        
            <div class="card-body">
                <p class="card-title">
                    <div class="product_name">{{product.product_name}}</div>
                    <div class="product_info"><pre>{{product.product_info}}</pre></div>
                </p>           
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>   
{% endblock %}
